.statistics {
  background-color: rgb(225, 225, 252);
  justify-content: center;
  margin: 0 auto;
  display: inline-block;
}
.title {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.item {
  padding: 20px;
  background-color: teal;
  display: grid;
}
.list {
  display: flex;
}
.one {
  composes: item; /* Приймає item в цей стиль*/
  background-color: rgb(72, 184, 225);
}
