.statistics {
  justify-content: center;
  margin: 0 auto;
  display: block;
  width: 500px;
  margin-bottom: 20px;
}
.title {
  margin: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}
.item {
  padding: 20px;
  background-color: teal;
  display: grid;
}
.list {
  display: flex;
}
