ul,
li {
  margin: 0 auto;
  list-style: none;
  padding: 0;
}
body {
  text-align: center;
  margin: 0 auto;
  padding: 0 auto;
  background-color: rgba(57, 121, 240, 0.535);
}
.profile {
  background-color: #fff;
  width: 250px;
  display: block;
  border: 2px solid rgb(48, 39, 39);
  margin: 0 auto;
}

.name {
  font-size: 20px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}
.tag {
  font-size: 16px;
  color: rgb(143, 140, 140);
}
.location {
  margin: 0;
  font-size: 16px;
  color: rgb(143, 140, 140);
  border-bottom: 2px solid rgb(48, 39, 39);
  padding-bottom: 15px;
}
.stats {
  display: flex;
  background-color: rgb(225, 224, 224);
  justify-content: space-around;
}
.prof__item {
  display: grid;
  width: 80px;
  padding: 15px 0;
}
.prof__item:not(:last-child) {
  border-right: 1px solid rgb(55, 45, 45);
}
.label {
  color: rgb(143, 140, 140);
}
.quantity {
  font-weight: bold;
}
